Source: tklamq
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all (>= 3.6~),
Standards-Version: 4.0.0

Package: tklamq
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-amqplib,
 python3-kombu,
 python3-pycryptodome,
Description: TurnKey Linux Advanced Message Queue (AMQ) client
