Source: tklamq
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@sterilesecurity.com>
Build-Depends: debhelper (>> 4.2.0)
Standards-Version: 3.6.1

Package: tklamq
Architecture: all
Depends: python (>= 2.4), turnkey-pylib, python-crypto, python-simplejson, python-carrot, python-amqplib
Section: misc
Description: TurnKey Linux Advanced Message Queue (AMQ) client
